#pinterest_slider {
	position: relative;
}

#pboxpin {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:5px solid #cb2027;
	background-color: #fff;
	position: fixed;
}

#pboxpin2 {
	overflow: hidden;
	text-align: left;
}

#pboxpin img {
	position: absolute; 
	top: 0px; 
	cursor: pointer;
	border: 0;
	z-index: 10000;
}

#pboxpin iframe {
	border:0px;
	overflow: hidden; 
	position: absolute;
	width:100%;
	height: 100%;
}